<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" />
    </configSections>
    <openaccess xmlns="http://www.telerik.com/OpenAccess">
        <references>
            <reference assemblyname="UO_Model" configrequired="True" />
        </references>
    </openaccess>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>