@import "../common.css";
@import "calendar-brown.css";

/******************
HTML Tags
******************/
body {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	color:#666666;
	margin:15px 40px;
	background: #CBCBCB url(bg-main.gif) repeat-x;
	font-size:.72em;
	}
	
/******************
LINKS
******************/
/* LINK VISTED HOVER ACTIVE selectors must remain in this order to work */
a:link {
	color:#FF6600;
	}
a:visited {
	color:#CC6600;
	}
a:hover {
	color:#FF3300;
	text-decoration:none;
	}
a:active {
	color:#669966;
	}

/* LINK VISTED HOVER ACTIVE selectors must remain in this order to work */
#mainnav-container a:link {
	color:#FF0000;
	}
#mainnav-container a:visited {
	color:#FF0000;
	}
#mainnav-container a:hover {
	color:#FF6633;
	text-decoration:none;
	}
#mainnav-container a:active {
	color:#669966;
	}

/* All link states are selected with an "a" */
#breadcrumb-container a {
	color:#FF6600;
	}
	
/******************
Layout Divs
******************/
#mainnav-container {
	padding:4px 10px;
	border-bottom:2px solid #7F7F7F;
	border-right:1px solid #7F7F7F;
	border-left:1px solid #EDEDED;
	margin-bottom:1px;
	background: #FFFFFF url(bg-topnav.gif) repeat-x;
	height:14px
	}

#mainnav {
	float:left;
	width:70%;
	}

#mainnav-side {
	float:right;
	width:30%;
	text-align:right;
	}

#pageheader {
	margin-bottom:1px;
	color:#FFFFFF;
	padding:10px 10px 10px 10px;
	border-bottom:2px solid #7F7F7F;
	border-right:1px solid #7F7F7F;
	height:50px;
	min-height:50px;
	background: #580808 url(bg-header.gif) repeat-x;
	font-size:1.8em;
	font-weight:bold;
	}

#pageheader h1 {
	text-decoration:none;
	color:#FFFFFF;
    font-size:0.72em;
	}
		
#pageheader h2 {
	font-size:.68em;
	margin:0px;
	font-weight:normal;
	padding-top:7px;
    color: red;
	}
	
#breadcrumb-container {
	border-bottom:2px solid #7F7F7F;
	border-right:1px solid #7F7F7F;
	border-left:1px solid #EDEDED;
	margin-bottom:1px;
	background: #FFFFFF url(bg-topnav.gif) repeat-x;
	padding:6px 0;
	height:16px
	}

#breadcrumb {
	float:left;
	padding:0 10px;
	}

#breadcrumb-side {
	float:right;
	padding:0 10px;
	}

#content-container {
	background-color:#F6F6F6;
	border-top:1px solid #CBCBCB;
	border-right:1px solid #7F7F7F;
	border-bottom:2px solid #7F7F7F;
	border-left:1px solid #CBCBCB;
	padding:0px;
	margin:0px;
	}

#content-side {
	float:right;
	top:0px;
	right:0px;
	width:150px;
	padding:10px;
	}

#content {
    padding: 10px 10px 0px 10px;
    margin: 10px 171px 0px 10px;
    height: 100%;
    background-color: #FFEDED;
    border-left: 1px dashed #D0D0BF;
    border-right: 1px dashed #D0D0BF;
    min-height: 200px;
    border-radius: 16px; /*css3草案*/
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    }

#footer {
	margin:0px 171px 0px 10px;
	padding:0px 10px;
	border-top:1px solid #7F7F7F;
	background: #FFFFFF url(bg-topnav.gif) repeat-x;
	font-size:.95em;
	min-height: 40px;
	}

/******************
LISTS - IN THE CONTENT DIV
******************/
#content ul.list, #content ul.link-list-vertical {
	margin:0px 0px 15px 15px;
	padding:0px;
	}

#content ul.list li {
	list-style:none;
	padding:2px 0px 2px 12px;
	margin:0px;
	background: url(bullet.gif) no-repeat;
	background-position:0 .6em;
	}

#content ul.link-list-vertical li {
	list-style:none;
	margin:0px;
	padding:2px 0px;
	}

#content ul.link-list-vertical li a:link {
	padding:2px 0px 2px 12px;
	background: url(bullet-link.gif) no-repeat;
	background-position:0 .6em;
	}
#content ul.link-list-vertical li a:visited {
	padding:2px 0px 2px 12px;
	background: url(bullet-link-visited.gif) no-repeat;
	background-position:0 .6em;
	}
#content ul.link-list-vertical li a:hover {
	padding:2px 0px 2px 12px;
	background: url(bullet-link-hover.gif) no-repeat;
	background-position:0 .6em;
	}
#content ul.link-list-vertical li a:active {
	padding:2px 0px 2px 12px;
	background: url(bullet-link-active.gif) no-repeat;
	background-position:0 .6em;
	}

/******************
LISTS - IN THE RIGHT OR LEFT COLUMNS
******************/
#content-side ul.list, #content-side ul.link-list-vertical {
	margin:0px 0px 15px 0px;
	padding:0px;
	}

#content-side ul.list li {
	list-style:none;
	padding:2px 0px 2px 12px;
	margin:0px;
	background: url(bullet-right.gif) no-repeat;
	background-position:0 .6em;
	}

#content-side ul.link-list-vertical li {
	list-style:none;
	margin:0px;
	padding:2px 0px;
	}

#content-side ul.link-list-vertical li a:link {
	padding:2px 0px 2px 12px;
	background: url(bullet-link.gif) no-repeat;
	background-position:0 .6em;
	}

#content-side ul.link-list-vertical li a:visited {
	padding:2px 0px 2px 12px;
	background: url(bullet-link-visited.gif) no-repeat;
	background-position:0 .6em;
	}

#content-side ul.link-list-vertical li a:hover {
	padding:2px 0px 2px 12px;
	background: url(bullet-link-hover.gif) no-repeat;
	background-position:0 .6em;
	}

#content-side ul.link-list-vertical li a:active {
	padding:2px 0px 2px 12px;
	background: url(bullet-link-active.gif) no-repeat;
	background-position:0 .6em;
	}

/******************
TABLE STYLES
******************/
.table {
	width:100%;
	border:1px solid #D0D0BF;
	border-collapse:collapse;
	}
	
.table td {
	padding:10px;
	}

thead th, tfoot th {
	background-color:#E8E8E8;
	border-bottom:2px solid #D0D0BF;
	border-top:2px solid #D0D0BF;
	padding:10px;
	font-weight:normal;
	font-variant:small-caps;
	}

.table-row-1 {
	background-color: #F5F5F5;
    }
    
.table-row-2 {
	background-color: #E5E5E5;	
    }

/******************
CLASSES
******************/
img.photobig, img.photosmall {
	border-top:1px solid #CCCCCC;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	border-left:1px solid #CCCCCC;
	background: #E0E0E0 url(background_table_04.gif) repeat-x;
	padding:8px;
	}

img.photosmall {
	margin-right:10px;
	margin-bottom:2px;
	float: left;
	}
	
.searchbox {
	height:13px;
	margin:0px;
	padding:0px;
	width:8em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
	}

.button-search {
	height:18px;
	margin:0px;
	padding:0px 0px 0px 0px;
	border-top:1px solid #CCCCCC;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	border-left:1px solid #CCCCCC;
	background: url(bg-button-search.gif) repeat-x;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FF0000;
	}

input.button {
    color:#580808;
    font: 'trebuchet ms',helvetica,sans-serif;
    background-color:#CCCCCC;
    border: 1px solid;
    border-color: #FFFFFF;
    filter:progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#580808',EndColorStr='#F5F5F5');
    }

input.button_hov {
    border-color: #580808;
    }