<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
            <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
                <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                    <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
                    <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
                    <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
                </sectionGroup>
            </sectionGroup>
        </sectionGroup>
        <section name="styleTemplates" type="StyleTemplateConfigHandler" />
    </configSections>
    <styleTemplates default="EcoMES" >
        <style name="TechBlue" theme="Default" />
        <style name="EcoMES" theme="EcoMES" />
        <style name="Red" theme="Red" />
        <style name="Stone" theme="Stone" />
    </styleTemplates>
    <appSettings>
        <!--
        <add key="OracleConnectionString" value="USER ID=insitefab;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=OCA)));PASSWORD=insitefab;PERSIST SECURITY INFO=true;" />
        <add key="OracleConnectionString" value="USER ID=InSiteSemi;DATA SOURCE=Yang;PASSWORD=InSiteSemi;PERSIST SECURITY INFO=true;" />
        -->
        <add key="OracleConnectionString" value="USER ID=InSiteTAP42;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=OCA.ericguo.local)));PASSWORD=InSiteTAP42;PERSIST SECURITY INFO=true;" />
    </appSettings>
    <system.web>
        <!--<trace enabled="true" traceMode="SortByTime" />-->
        <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
            <providers>
                <add name="XmlSiteMapProvider" description="SiteMap provider that reads in .sitemap files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
                    siteMapFile="App_Data/Web.sitemap" />
                <add name="MESSiteMapProvider" type="UO_Service.MESSiteMapProvider" />
            </providers>
        </siteMap>
        <pages>
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </controls>
        </pages>
        <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
        -->
        <compilation debug="true">
            <assemblies>
                <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
                <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <!-- Replace Version if your installed Telerik OpenAccess is not the version provided below  -->
                <add assembly="Telerik.OpenAccess, Version=2008.3.1110.1, Culture=neutral, PublicKeyToken=7CE17EEAF1D59342"/>
            </assemblies>
        </compilation>
        <httpHandlers>
            <remove verb="*" path="*.asmx"/>
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
        </httpHandlers>
        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </httpModules>
        <authentication mode="Windows"/>
        <!-- Uncomment this line to make authentication in form mode -->
        <!--<authentication mode="Forms" >
            <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH"  />
        </authentication>-->
        <authorization>
            <deny users="?" />
        </authorization>
        <!--
        You can generate machineKey at http://www.orcsweb.com/articles/aspnetmachinekey.aspx 
        Replace machineKey will break all password and other crypt thing in MES, so do it only needed.
        -->
        <machineKey
        validationKey='B86D624D89C3F679145581A8D44616301F31C70A73D802A26155736C2E17A714277F2A8D6BB5B294CCF3BC7F20CBEC0563820015C5B2F19CCFDACE44EF5932C1'
        decryptionKey='AED0AB4A835969A6A9198C76E7837DDEA7CE3AE1B1BEC60B' validation='SHA1'/>
        <!--Custom Provider Configuration-->
        <membership defaultProvider="MESMembershipProvider" userIsOnlineTimeWindow="15">
            <providers>
                <clear />
                <add name="MESMembershipProvider" type="UO_Service.MESMembershipProvider"
                  enablePasswordRetrieval="true"
                  enablePasswordReset="true"
                  requiresQuestionAndAnswer="true"
                  writeExceptionsToEventLog="false" />
            </providers>
        </membership>
        <roleManager defaultProvider="MESRoleProvider" enabled="true" >
            <providers>
                <clear />
                <add name="MESRoleProvider" type="UO_Service.MESRoleProvider" />
            </providers>
        </roleManager>
        <profile defaultProvider="MESProfileProvider">
            <providers>
                <clear />
                <add name="MESProfileProvider" type="UO_Service.MESProfileProvider" trimDomainName="true" />
            </providers>
            <properties>
                <add name="Factory_Name" type="System.String" allowAnonymous="false"/>
                <add name="Operation_Name" type="System.String" allowAnonymous="false"/>
                <add name="WorkCenter_Name" type="System.String" allowAnonymous="false"/>
                <add name="StyleTheme" type="System.String" allowAnonymous="false"/>
                <add name="Language" type="System.String" allowAnonymous="false"/>
            </properties>
        </profile>
        <!--Custom Provider Configuration-->
    </system.web>
    <system.web.extensions>
        <scripting>
            <webServices>
                <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
                <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
                -->
                <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
                <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
                <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
                <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
                -->
            </webServices>
            <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
            -->
        </scripting>
    </system.web.extensions>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </modules>
        <handlers>
            <remove name="WebServiceHandlerFactory-Integrated"/>
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </handlers>
    </system.webServer>
    <system.serviceModel>
        <bindings />
        <client />
        <behaviors>
            <serviceBehaviors>
                <behavior name="WCFsvcBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="WCFsvcBehavior" name="UO_Service.Maint.MfgOrderMaint">
                <endpoint address="" binding="wsHttpBinding" contract="UO_Service.Maint.IMfgOrderMaint">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="" binding="wsHttpBinding" contract="UO_Service.Base.IService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
    <location path="App_Themes">
        <system.web>
            <authorization>
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="images">
        <system.web>
            <authorization>
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="src">
        <system.web>
            <authorization>
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="CreateUser.aspx">
        <system.web>
            <authorization>
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
</configuration>